<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .ErrStatusInt }}-{{ .ErrStatusString }}</title>
  <link href="/static/error.css" rel="stylesheet" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/ui/image/p.png" type="image/x-icon">

<title>Error</title>
    
</head>


<body background="/ui/image/err.jpg">
    <main>
        <div class="d-flex h-100 text-center text-white bg-dark">
      <center>
        <br /><br /><br /><br /><br /><br />
  			<h1>{{ .ErrStatusInt }}-{{ .ErrStatusString }}</h1>
  			<p><br /><br></p>
          <button class="form_button"> <a href="/">Home</a> </button>
        <br /><br /><br /><br />
      </center>
        </div>
    </main>
  </body>
</html>