<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/ui/image/f.ico" type="image/x-icon">
    <link href="//db.onlinewebfonts.com/c/73fedd912ba11f583a359ce4c2e742ed?family=Ninja+Naruto" rel="stylesheet" type="text/css"/>
  </head>
  <body background="/ui/image/foon.jpg">
    <div class="d-flex h-100 text-center text-white bg-dark">
      <div class="conteiner">
        <header class="mb-auto">
          <div >
            <h1 class="float-md-start mb-0" style="text-align: center;">Ascii-art-web</h1>
          </div>
        </header>
        <main class="px-3">
          <br>
          <center>
          <div>
            <form method="post" action="/asciiArt">
              <div class="div_text" >
                <textarea class="textarea_style" name="text"  ></textarea>
              </div>
            <br><br>
                <div class="containerOuter">
                  <div class="container">
                    <input type="radio" class="hidden" id="input1" name="style" value="standard"  checked >
                    <label class="entry" for="input1"><div class="circle"></div><div class="entry-label">Standart</div></label>
                    <input type="radio" class="hidden" id="input2" name="style" value="shadow" >
                    <label class="entry" for="input2"><div class="circle"></div><div class="entry-label">Shadow</div></label>
                    <input type="radio" class="hidden" id="input3" name="style" value="thinkertoy" >
                    <label class="entry" for="input3"><div class="circle"></div><div class="entry-label">Thinkertoy</div></label>
                    <div class="highlight"></div>
                    <div class="overlay"></div>
                  </div>
                </div>
                
                <svg width="0" height="0" viewBox="0 0 40 140">
                  <defs>
                    <mask id="holes">
                      <rect x="0" y="0" width="100" height="140" fill="white" />
                      <circle r="12" cx="20" cy="20" fill="black"/>
                      <circle r="12" cx="20" cy="70" fill="black"/>
                      <circle r="12" cx="20" cy="120" fill="black"/>
                    </mask>
                  </defs>
                </svg>
            <br><br>
            <button class="form_button" type="submit">Submit</button>
            </form>
          </div>
         </center>
          <br><br><br>
          <center>
            <div class="hello" ><pre class="pre_hello" >{{ .Message}}</pre></div>
          </center>
        </main>
      </div>
    </div>
    <br><br>
    <center>
      <button class="form_button"> <a href="/">Home</a> </button>
    </center>
  </body>
</html>